{% extends "general/one_column.html" %}


{% block footer %}
{% include "general/footer_business.html" %}
{% endblock %}


{% block title %} Как смотреть бюллетень в полном объеме? {% endblock %}


{% block content_center %}


<table width="90%" border="0" align="center">
    <tr>
        <td>
            <h1>Как смотреть бюллетень в полном объеме?</h1>
            <p>&nbsp;</p>
            <p>У вас не видны пиктограммы погоды и курса валют в бюллетене Турпрома? Новости не
проиллюстрированы фотографиями? Вы не видите спикера, у которого взято интервью?
Бюллетень попадает в папку «Спам»?</p>
<p>&nbsp;</p>
<p>Эти и другие проблемы вы сможете раз и на всегда решить, если добавите адрес, с которого
рассылается бюллетень – news@pochta.tourprom.ru, в список надежных отправителей или в
так называемый «белый» список email-адресов вашей почтовой программы.</p>
<p>&nbsp;</p>
<p>Как это сделать? Чтобы добавить электронный адрес отправителя в список надежных
отправителей, Microsoft рекомендует для пользователей почтовой программы Outlook
выполнить следующие действия:</p>
<ol>
<li>В меню Сервис выберите пункт Параметры.</li>
<li>Перейдите на вкладку Настройки и нажмите кнопку Нежелательная почта.</li>
<li>Щелкните вкладку Надежные отправители или Надежные получатели.</li>
<li>Нажмите кнопку Добавить.</li>
<li>В поле ввода введите электронный адрес news@pochta.tourprom.ru для добавления в
список и нажмите кнопку OK.</li>
</ol>

<p>Если это не помогло, то для отображения картинок в письме от определенного отправителя
Microsoft рекомендует пользователям почтовой программы Outlook выполнить следующие
действия:</p>
<ol>
<li>Добавьте адрес news@pochta.tourprom.ru в свой список надежных отправителей или
создайте запись для этого отправителя в своей папке «Контакты».</li>
<li>В меню Сервис выберите пункт Параметры.</li>
<li>Перейдите на вкладку Настройки и нажмите кнопку Нежелательная почта.</li>
<li>Щелкните вкладку Надежные отправители и установите флажок «Доверять письмам
от адресатов из списка контактов».</li>
</ol>
        </td>
    </tr>
</table>



{% endblock %}
