{% load publication_filters %}

{% ifnotequal photos_count 0 %}
<table cellpadding="0" cellspacing="0" style="font-size: 0.9em;">
    <tr  bgcolor="#F3F3F3">
        <td colspan="2">
            <h2 style="color: #050CD8;margin: 10px 10px 7px 10px;font-size: 1.2em;">ФОТОЛЕНТЫ КОМПАНИЙ </h2>
        </td>
    </tr>
    <tr>
        <td style="background-color: #cccccc; height: 1px;" colspan="2">

        </td>
    </tr>
    {% for item in photos %}
    <tr>
        <td colspan="2">
            <br>
            <a href="http://{{site}}/profi/content/photoalbum/{{item.id}}"><b>{{ item.title }}</b></a>
            <br><br>
            <i>Фотолента от «<b><a href="http://{{site}}/company/{{item.user.id}}/">{{item.get_user}}</a></b>»:</i>
            <br><br>
            {% with item.preview_picture as image %}
            {% if image %}<a href="http://{{site}}/profi/content/photoalbum/{{item.id}}" target="_blank"><img src="http://{{site}}{{image.get_w150_url}}" border="0" width="{{image.get_w150_size.0}}" height="{{image.get_w150_size.1}}" alt="{{item.get_user}}"></a>{% endif %}
            {% endwith %}
            <br><br>
            {% if item.bulletin_short %} &nbsp; {% else %}{{ item.description|striptags|truncate_chars:500|safe }}{%endif%}
            <br><br>
            <a href="http://{{site}}/profi/content/photoalbum/{{item.id}}" target="_blank">Смотрите фотоленту</a>.
            <br><br>
        </td>
    </tr>
    <tr>
        <td style="background-color: #cccccc; height: 1px;">

        </td>
        <td width="50%">

        </td>
    </tr>
    <tr>
        <td>
            &nbsp;
        </td>
    </tr>
    {% endfor %}
</table>
<br>
{% endifnotequal %}