<html>
    <body>

        <b><font color="#000099"> Спасибо за подписку на ежедневный профессиональный <br>
туристический бюллетень «ТУРПРОМа»! </font></b><font color="#000099"><br> Активируйте
её переходом по <font color="#FF0033">нижней ссылке</font>. Кликайте ТОЛЬКО ОДИН раз!</font><br>
 <br>


<font color="#FF0033"> ВНИМАНИЕ! Чтобы активировать подписку, перейдите, пожалуйста, по ссылке (ТОЛЬКО ОДИН РАЗ): </font>

        <br>
        <a href="http://www.tourprom.ru/bulletin/activate/?ak={{activation_key}}">http://www.tourprom.ru/bulletin/activate/?ak={{activation_key}}</a>
<br/><br/>
Если ссылка не работает, скопируйте и вставьте URL в новом окне браузера.
<br/><br/>
Если Вы получили это письмо по ошибке, скорее всего, другой пользователь
случайно указал Ваш адрес, пытаясь подписаться на бюллетень. Если Вы не отправляли
запрос, ничего не делайте и не обращайте внимания на это сообщение.
<br/><br/>
Благодарим за использование сервисов «ТУРПРОМа».

<br/><br/>
<b>*** ВНИМАНИЕ ***</b> <br>
Это письмо сформировано автоматически службой уведомлений «ТУРПРОМа». Ответы на него не отслеживаются и не обрабатываются. 
Чтобы отослать сообщение в «ТУРПРОМ», воспользуйтесь <a href="http://www.tourprom.ru/about/#message">формой обратной связи</a>.
<br/><br/>

    </body>
</html>