{% extends "general/two_column_left_menu.html" %}


{% block footer %}
    {% include "general/footer_business.html" %}
{% endblock %}


{% block title %} Отмена подписки на бюллетень {% endblock %}


{% block content_center %}


<table width="90%" border="0" align="center">
  <tr>
    <td>
    <h1>Отмена подписки на бюллетень</h1>
	<P align="center">Подтвердите отмену рассылки бюллетеней "ТУРПРОМ" на адрес <b>{{email}}</b></P>
    <P align="center">
        <form action="" method="POST">
            <input type="hidden" name="email" value="{{email}}">
            <input type="submit" value="Отписаться" align="center">
        </form>
    </P>
    </td>
  </tr>
</table>



{% endblock %}
