{% extends "general/two_column_left_menu.html" %}

{% block title %}Разместить объявления{% endblock %}

{% block javascript %}
    <script type="text/javascript" >
    $(document).ready(function() {
        $('.qopen').click(function(){
            $(this).css('display', 'none');
            $('.answer_block').show(500);
        });
        $('.qclose').click(function(){
            $('.answer_block').css('display', 'none');
            $('.qopen').show(200);
        });
    });
    </script>
{% endblock %}

{% block content_center %}
<div class="ads-menu">
    <span>[ Разместить объявления (<span style="color:{% ifequal user.messages_quantity 0 %}#ff0000{% else %}#00aa00{% endifequal%}">{{ user.messages_quantity }}</span>) ]</span>
    <span>[ <a href="/advert/future/dates/">Редактировать объявления</a> (<span style="color:#00aa00">{{ user.future_messages }}</span>) ]</span>
    <span>[ <a href="/advert/past/dates/">Архив объявлений</a> ]</span>
    <br/>
    <span>[ <a href="/reklama/#1">Купить объявления</a> ]</span>
    <span>[ <a href="/tradearea/">Посмотреть Торговую площадку - объявления на Бирже</a> ]</span>
</div>

<div id="title_block">Разместить объявления</div>

<table cellpadding="2" cellspacing="1" border="0" width="730">
<tr valign="top">
<td>


{% for section  in pages %}

      <b>{{ section.title }} </b><br>
 	
  {% for page in section.children.all %}
  {% if page.visible %}

 		<a href="/advert/{{page.id}}/"> <b>{{ page.title }} </b> </a><br>

  {% endif %}
  {% endfor %}
 <br>
 
{% endfor %}

    <b>РАБОТА В ТУРИЗМЕ</b><br>
    <a href="/job/my/"> <b>Вакансии</b> </a><br>

</td>
<td>
<div style="text-align: center;" class="answer_show">
      <a  style="cursor:pointer;" class="qopen"><img src="/site_media/images/message_help_button.gif" alt="Как размещать объявления?"></a>
</div>

<div class="answer_block" style="display:none; background-color:#f7f7f8; width: 400px;">
<a  style="cursor:pointer;" class="qclose"><b>закрыть</b></a>
<br><br>
<b>Как разместить новое объявление на "Торговой площадке" портала ТУРПРОМ?</b>
<br>
После авторизации войдите в своём "личном кабинете" в раздел "Объявления", нажав кнопку <a href="/adspage/">"Разместить новые"</a> (в шапке этого раздела указан ваш текущий счет - количество доступных объявлений и крайний срок их использования, после которого счет будет заморожен, но не обнулён, до момента следующей покупки рекламного пакета с объявлениями).  Далее:
<ul>
<li>
Выберите из рубрикатора нужную рубрику для подачи объявления,  заполните поля открывшейся формы (обязательные поля помечены  "звездочками"), и нажмите кнопку "предпросмотр". Если Вас всё устраивает,  то жмите кнопку "Разместить", если нет - "Вернуться к редактированию". После нажатия кнопки "Разместить" вы возвращаетесь на главную страницу вашего "личного кабинета", а с вашего счета списывается необходимое количество средств.
</li>
<li>
Обращаем ваше внимание, что по-умолчанию дата публикации объявления в форме всегда стоит на завтра. Однако если это нерабочий или праздничный день, то её надо поменять на рабочий день!
</li>
<li>
Не забывайте, что для удобства в поле "дата публикации" можно в формате дд.мм.гггг ставить сразу несколько дат (в столбик, через 'Enter'), тогда объявление выйдет сразу в нескольких  выпусках бюллетеня. Рекомендуем для этого использовать "календарик".
</li>
<li>
Размещенное на завтра объявление становится доступным для посетителей портала немедленно, в разделе <a href="/tradearea/">"Торговая площадка"</a> по клику на кнопку "Показать бюллетень на завтра".
</li>
<li>
Если вы разместили неправильное объявление, то до момента его публикации в любой момент можете его либо "отредактировать", либо даже "удалить" в разделе <a href="/advert/future/dates/">"Редактировать неопубликованные"</a>. При удалении объявления средства за него вернутся вам на счет. Однако уже опубликованное объявление отредактировать нельзя (мы придерживаемся принципа - "что написано пером - не вырубишь топором"), зато можно скопировать его на будущие даты публикаций.
</li>
<li>
При редактировании можно менять подрубрику объявления внутри главной рубрики. Однако при этом возможно потребуется дозаполнить некоторые поля, отсутствовавшие в объявлении, когда оно принадлежало другой подрубрике.
</li>
</ul>
<br><br>
<b>Как облегчить себе работу и сократить время и трудозатраты?</b>
<br>
Если вы ранее публиковали объявления, то можно их брать за основу (в  качестве своеобразного шаблона) для создания новых объявлений. В этом  случае вам не придётся заново заполнять все поля формы. Как это сделать? 
<ul>
<li>
Нажмите в "личном кабинете" в разделе "объявления" кнопку <a href="/advert/past/dates/">"Архив / копирование опубликованных"</a> или <a href="/advert/future/dates/">"Редактировать неопубликованные"</a> (в качестве шаблонов можно использовать объявления из любых этих  разделов). Выбрав в них нужное объявление, скопируйте его (кнопка  "копировать" справа от объявления) на нужную дату выхода бюллетеня (или  сразу на несколько дат). Согласитесь, это намного быстрее и проще, чем  создавать объявление "с нуля"!
</li>
<li>
При необходимости в разделе <a href="/advert/future/dates/">"Редактировать неопубликованные"</a> можно отредактировать скопированное объявление с добавлением в него  актуальной информации. Кстати, "размножать" объявление на несколько  выходов бюллетеня мы рекомендуем именно после внесения актуальной  информации в первую копию объявления. Тогда все остальные копии будут  нести читателям правильную и актуальную информацию о ваших турах или  билетах.
</li>
</ul>
Если у вас что-то не получается, пишите нам через форму <a href="/about/#message">http://www.tourprom.ru/about/#message</a>, либо звоните по телефонам: +7 (495) 585-80-10 / 40-35 (с 11:00 до 18:00 в рабочие дни).

<br><br>
<a  style="cursor:pointer;" class="qclose"><b>закрыть</b></a>
</div>

</td>
</tr>
</table>

{% endblock %}


{% block breadcomb %}

<a href="/login/">Личный кабинет</a> / Разместить объявления

{% endblock %}

{% block content_left %}
        <p>
        Предыдущий визит:
            {% if user.prev_login %}
                {{ user.prev_login.datetime|date:"d.m.Y H:i" }}, c IP адреса: {{ user.prev_login.ip_address }}
            {% else %}
                не был
            {% endif %}
        </p>
    <p>&nbsp;</p>
    <p>
        {% if user.logo %}
       <a href="http://www.tourprom.ru/company/{{ user.id }}/"><img src='/site_media/{{ user.logo.image }}' class="square1" alt="Посмотреть визитную карточку"></a>
        {% else %}
        <a href="http://www.tourprom.ru/company/{{ user.id }}/"><img src='/site_media/images/advertisers/nologo.gif' class="square1" alt="Посмотреть визитную карточку"></a>
        {% endif %}
    </p>
    <p>&nbsp;</p>
    <p>
        <a href="/login/">Визитная карточка компании (редактирование)</a>
    </p>
{% endblock %}



